@media (min-width: 767px){
    .user__mobile{
      display: none;
    }
    .shopping__cart__mobile{
      display: none;
    }
    .contant__mobile__bg{
      display: none;
    }
    .mobile__phone{
      display: none;
    }
  }

  @media (max-width: 767px){
    .header.mb-1.pt-2{
      background-color:rgb(73, 74, 84);
      opacity: 0.9; 
    }
    body .header .header__top .container .row .form__wrapper .form__search .input__search{
      border: 2px solid black;
      border-right: none;
      
    }
    body .header .header__top .container .row .form__wrapper .form__search .btn__search {
      background-color:rgb(255, 255, 255);
      border: 2px solid black;
      border-left: none;
      border-radius: 0px 20px 20px 0px;
    }
    body .header .header__bottom .container .row .btn__wrapper .btn__open__catalog{
      border-radius: 5px;
      box-shadow: 1px 1px 1px 1px rgb(86, 83, 83);
    }
    .header__top.mb-2.text-center{
     padding: 0;
    }
    img.moto__animate__image.col-xxl-12.col-xl-12.col-lg-12{
      display: none;
    }
    body .header .header__bottom .container .row .header__reviews{
      display: none;
    }
    .user__desctop.col-xl-1.col-lg-1.col-md-2.col-2.text-center{
      display: none;
    }
    .shopping__cart__desctop.col-xl-1.col-lg-2.col-md-1.col-2.text-center.p-2{
      display: none;
    }
    .contant__mobile__bg img{ 
      width: 100%;
      height: auto;
    }
  
    .header__bottom.text-center.align-center{
      background-color: #f2f3f4;
    }
    .section__cards{
      margin-top: 50px;
    }
     
    .form__wrapper{
      padding-top: 30px;
    }
  
    .form__search{
      margin-top: 5px;
      width: 100%;
      margin-bottom: 20px;
  
    }
  
    ul.list.col-xl-7.col-lg-8{
      padding: 20px;
      display: flex;
      justify-content: space-around;
      font-size: 22px; 
    }
    body .header .header__bottom .container .row ul.list .nav__item .nav__link{
      color:#000;
      font-size: 10px;
      font-weight: 500;
    }
    .header__bottom{
      background-color: rgb(58, 55, 66);
    }
    .mobile__phone__link{
      text-decoration: none;
    }
    body .contant .pop__category .container .tab-content .tab-pane .row .tab__catgory__link{
      min-width: 31.7%;
    }
    body > header > div.header__top.text-center > div > div > div.shopping__cart__mobile.col-xl-1.col-lg-2.col-md-1.col-3{
      display: flex;
      justify-content: center;
      position: relative;
    }
    .shoping__card__counter{
      color:rgb(255, 218, 50);
      position: absolute;
      top: -1rem;
      background-color:#4a4a4a;
      padding: 0px 5px 0px 5px;
      border-radius: 50%;
    }
    body .contant .product__card__wrap .container ul.row .product__card .rating label{
      font-size: 20px;
    }
  }
  @media (max-width: 990px){
    .moto__animate.col-xxl-5.col-xl-5.col-lg-5.col-md-5.d-flex.justify-content-end.h-100.p-0{
      margin-top: 70px;
    }
    body .contant .pop__category .container .tab-content .tab-pane .row .tab__catgory__link{
      max-width: 115px;
    }
  }
  @media (min-width: 992px){
    .nav__item:not(:last-child){
      margin-right: 40px;
    }
    .user__desctop.col-xl-1.col-lg-1.col-md-2.col-2.text-center{
      display: flex;
      justify-content: flex-end;
    }
  }
  @media (max-width: 1199px){
    ul.list{
      display: flex;
      align-items: center;
      margin: 0;
    }

    .contant{
      padding: 0;
      margin: 0;
    }
  
    .header__top__phone{
      display: none;
    }
    .nav__item{
  
    }
    .nav__link{
      font-size: 13px;
      font-weight: 500;
    }
    .list__menu__subitem{
  
    }
    .list__menu__sublink{
      font-size: 13px;
    }
    .form__search{
      justify-content: flex-end;
    }
    
  .btn__open__catalog{
      padding: 0;;
    }
    body .contant .pop__category .container .tab-content .tab-pane .row .tab__catgory__link{
      width: 19.48%;
    }
  }
  
  @media (min-width: 1200px){
    ul.list{
      display: flex;
      align-items: center;
      margin: 0;
    }
    .nav__item:not(:last-child){
      margin-right: 46px;
    }
  
    @media (max-width: 1400px){
      body .contant .pop__category .container .tab-content .tab-pane .row .tab__catgory__link{
        max-width: 185px;
      }
    }
  
  }
  