.ModalSuccessfulAddition{
    position: fixed;
    z-index: 400;
    width: 400px;
    height: 300px;
    background: rgb(218, 246, 242);
    align-items: center;
    top: -40vh;
    margin: 0 auto;
}